<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Wataboutis!?</title> <!-- yes, watabouttis? -->
</head>
<body>
    <h2>Insert data</h2>
    <main>
        <form class="info-form" action="/data" method="POST"> <!-- added /data -->
            <div class="form-control">
                <label for="name">Name</label><br> 
                <input type="text" name="name" id="name" value="">
            </div>
            <div class="form-control">
                <label for="position">Position</label><br> 
                <input type="text" name="position" id="position" value="">
            </div>
            <div class="form-control">
                <label for="office">Office</label><br> 
                <input type="text" name="office" id="office" value="">
            </div>
            <div class="form-control">
                <label for="age">Age</label><br> 
                <input type="text" name="age" id="age" value="">
            </div>
            <div class="form-control">
                <label for="date">Start date</label><br> 
                <input type="text" name="date" id="date" value="">
            </div>
            <div class="form-control">
                <label for="salary">Salary</label><br> 
                <input type="text" name="salary" id="salary" value="">
            </div>
            <br>
            <button class="btn" type="submit">Submit</button>
        </form>
    </main>
</body>

</html>